.poweredBy {
    bottom: 10px;
    left: 10px;
    font-size: 0.9rem;
    z-index: 1000;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    display: none;

    .logo {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .poweredByText {
        font-size: 0.9rem;
        color: white !important;
    }

    .copyRight {
        font-size: 0.6rem;
        color:white !important;
    }
x
    a {
        font-weight: 600;
        color:white !important;
        display: none !important;
    }
}